@import "tailwindcss";

@theme {
  /* Color */
  --color-primary: #a855f7;
  --color-text: #62748e;
  --color-background: #ffffff;
  --color-background-light: #ffffff;

  --color-text-dark: #90a1b9;
  --color-background-dark: #0f172a;
  --color-accent-pink: #fdf2f8;
  --color-charcoal: #334155;
  /* Font */
  --font-display: "Playfair Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  /* Border Radius */
  --radius: 0.5rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

@variant dark (&:where(.dark, .dark *));

/* --- Utilities --- */
@utility glass-effect {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8);
  @variant dark {
    background-color: rgba(15, 23, 42, 0.8);
  }
}

@utility product-action {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .group:hover & {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Base Styles --- */
:root {
  --background: #f8f6f6;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
/* Base */
/* Eye Icon For Password Input */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}
input[type="password"] {
  appearance: none;
}
/* not-found Page */
.text-404-gradient {
  background: linear-gradient(
    180deg,
    rgba(74, 29, 77, 0.25) 0%,
    rgba(164, 17, 212, 0.05) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.luxury-button {
  @apply px-10 py-4 rounded-full font-medium text-[10px] uppercase tracking-[0.2em] transition-all duration-300 flex items-center justify-center gap-2;
}
.product-card-shadow {
  box-shadow: 0 10px 30px -10px rgba(74, 29, 77, 0.08);
}
