@import "tailwindcss";

/* Theme */
@theme {
   --color-primary: #8b2040;
   --color-text: #62748e;
   --color-background: #ffffff;

   --radius: 0.5rem;
   --radius-xl: 1rem;
   --radius-2xl: 1.5rem;
}

/* Font */
:root {
   /* --font-heading: var(--font-playwrite);
   --font-accent: var(--font-noto-serif); */
   --font-body: var(--font-body-en);
   --font-heading: var(--font-heading-en);
   --font-accent: var(--font-accent-en);
}

html[lang="ar"] {
   --font-heading: var(--font-heading-ar);
   --font-body: var(--font-body-ar);
   --font-accent: var(--font-heading-ar);
}

/* Base */
body {
   font-family: var(--font-body);
   background: var(--color-background);
   color: var(--color-text);
}


/* Utilities */
.font-heading {
   font-family: var(--font-heading);
}

.font-body {
   font-family: var(--font-body);
}

.font-accent {
   font-family: var(--font-accent);
}

/* =========================
   CUSTOM UTILITIES
========================= */

@utility glass-effect {
   backdrop-filter: blur(8px);
   background-color: rgba(255, 255, 255, 0.8);
}

@utility product-action {
   opacity: 0;
   transform: translateY(10px);
   transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

   .group:hover & {
      opacity: 1;
      transform: translateY(0);
   }
}

/* =========================
   LUXURY BUTTON
========================= */

.luxury-button {
   @apply px-10 py-4 rounded-full font-medium text-[10px] uppercase tracking-[0.2em] transition-all duration-300 flex items-center justify-center gap-2;
}

/* 404 TEXT EFFECT */

.text-404-gradient {
   background: linear-gradient(
      180deg,
      rgba(74, 29, 77, 0.25) 0%,
      rgba(164, 17, 212, 0.05) 100%
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* Password Eye */

input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
   display: none !important;
}

input[type="password"] {
   appearance: none;
}
